<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="author" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>NEW : Retina Ready Vcard Template</title>

<!--Stylesheet-->

<!--[if IE 7]>
<link rel="stylesheet" href="css/fontello-ie7.css"><![endif]-->

<link href="./assets/css/font.css" rel="stylesheet" type="text/css">
<link href="./assets/css/fontello.css" rel="stylesheet" type="text/css">
<link href="./assets/css/base.css" rel="stylesheet" type="text/css">
<link href="./assets/css/skeleton.css" rel="stylesheet" type="text/css">
<link href="./assets/css/main.css" rel="stylesheet" type="text/css">
<link href="./assets/css/magnific-popup.css" rel="stylesheet">



<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


<!--[if lt IE 8]>
<style>
/* For IE < 8 (trigger hasLayout) */
.clearfix {
    zoom:1;
}
</style>
<![endif]-->


<body>

	<!-- Preloader -->
	<div id="loader" style="">
	  <div id="loaderInner" style=""></div>
	</div>

<!--Wrapper-->
<div id="wrapper">
	<!--Header-->
	<header id="header">
		<!--Main header-->
			<div class="mainHeader">
				<!--Container-->
			<div class="container clearfix">
				<!--Navigation-->
				<nav id="mainNav">
					<a href="#" class="mobileBtn"><i class="icon-menu"></i></a>
					<ul>
						<li><a href="#wrapper">Home</a></li>
						<li><a href="#resume" class="">Courses</a></li>
						<li><a href="#portfolio" class="active">Authors</a></li>
						<li><a href="#contact" class="">About</a></li>
					</ul>
				</nav>
				<!--End navigation-->
			<!--End container-->
			</div>
		<!--End main header-->
			</div>
		</header>
	<!--End header-->
	<!--End main header-->
	<section id="about" class="offset section">
			<!--Light grey-->
			<div class="lightGrey">
			<!--Container-->
			<div class="container clearfix">
				<div class="intro">
						<h1 class="titleBig">HomePage</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							 magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							 Ut enim ad minim veniam, quis nostrud exercitation .</p>
						</div>
						<div class="sixteen columns">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lectus sem, finibus sit amet suscipit in, cursus id erat. Sed feugiat rutrum dictum. Vestibulum dapibus sapien id elit bibendum, a euismod ipsum commodo. Integer at nisl non ligula ultrices volutpat sed vitae arcu. Proin placerat iaculis augue, interdum pharetra felis auctor sit amet. Pellentesque rutrum, elit non feugiat porttitor, felis est bibendum dui, nec commodo felis quam ut neque. Morbi commodo neque in imperdiet efficitur. Maecenas sem urna, molestie fermentum finibus sit amet, pretium ut purus. Vivamus justo ex, egestas eu ullamcorper in, volutpat eu justo. Etiam vestibulum eros a nunc molestie, et efficitur lorem faucibus. Vestibulum at erat tempus, condimentum dui euismod, gravida lorem. Morbi et justo eros.
							</p>
							<p>Maecenas vitae sapien dui. Duis tincidunt purus ut tortor sodales pulvinar. Aliquam finibus arcu massa. Maecenas fermentum, tellus nec hendrerit finibus, felis nunc fermentum eros, sit amet convallis mi arcu ut arcu. Sed quis sapien tincidunt, tristique urna eget, ultricies neque. Aliquam tristique at mi quis volutpat. Aenean aliquet sed ligula a gravida. Suspendisse potenti. Phasellus in leo est. Suspendisse pharetra elementum lobortis. Fusce sed mauris dignissim nisl aliquet pulvinar at ut nisi.
							</p>
							<p>Aenean congue mauris id libero aliquam, vitae iaculis magna imperdiet. Donec vulputate, nisi eu laoreet tempor, mauris quam luctus tortor, et tempor mauris diam in ex. Nulla eu massa nibh. Vivamus non sollicitudin mi, et pretium urna. Vivamus finibus ultricies quam quis rhoncus. Integer pharetra lobortis elementum. Quisque ac malesuada purus. Pellentesque tincidunt ex dapibus, congue mi ut, pulvinar leo. Pellentesque pharetra nulla sit amet tortor ornare tristique. Donec erat ex, gravida et commodo et, gravida et neque. Curabitur vehicula lectus est, ut faucibus ligula pretium nec. Sed semper sagittis mi, sit amet hendrerit mauris varius eu. Nullam vel commodo purus. Nulla maximus urna dolor, eu venenatis elit auctor nec. Duis aliquet enim at lacinia venenatis.
							</p>
							<p>Ut lacus massa, ullamcorper nec consectetur vitae, aliquam eget tortor. Proin sagittis ligula elit, in pulvinar dui molestie ut. Sed ante mi, pharetra at egestas ut, cursus in magna. Phasellus non rhoncus tellus. Mauris consectetur, erat vitae posuere gravida, ante nisi faucibus urna, ut pretium velit ex sed lorem. Pellentesque semper ac mi at aliquet. Vivamus suscipit ultricies quam et scelerisque. Phasellus vel quam a erat consectetur commodo. Ut quis est odio. Curabitur in dui aliquam, pretium sem a, porta est. Aliquam volutpat libero ipsum, quis condimentum justo cursus sed. Proin sit amet euismod nisl. Etiam vitae sapien eu orci vehicula auctor. Sed aliquet tristique elit, sit amet fermentum velit feugiat ut. Duis sodales, risus eu hendrerit interdum, lectus arcu euismod lacus, non pulvinar enim libero sed tellus.
							</p>
						</div>
			</div>
			<!--End container-->

			</div>
			<!--End light grey-->


		</section>
	<!--End about-->
	<!--Contact section-->
	<section id="contact" class="offset section">
					<!--Inner content-->
					<div class="innerContent">
					<!--Container-->
					<div class="container clearfix">
						<div class="sixteen columns"><h1 class="titleBig">template form</h1></div>
						<div class="sixteen columns contactForm">
								<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									 Duis aute irure dolor in reprehenderit in voluptate velit ut et voluptates repudiandae
									 sint et molestiae non recusandae.
								</p>
								<div class="cForm">
									 <form method="post" action="#">
										 <p>
											 <label for="name">Name <span class="required">*</span></label>
											 <input type="text" name="name" id="name">
										 </p>
										 <p>
											 <label for="email">Email <span class="required">*</span></label>
											 <input type="text" name="email" id="email">
										 </p>
										 <p>
											 <label for="subject">Subject</label>
											 <input type="text" name="subject" id="subject">
										 </p>
										 <p>
											 <label for="subject">Message <span class="required">*</span></label>
											 <textarea name="message" id="message" cols="45" rows="10"></textarea>
										 </p>
										 <div class="fBtn"><button id="submit" class="regButton"><i class="icon-paper-plane"></i>submit</button></div>
									 </form>
								</div>
						</div>
					</div>
							<!--End container-->
						</div>
						<!--End inner content-->
						</section>
							<!--End contact section-->
	<!--Footer-->
	<footer class="footer  offset">

				<!--Bottom footer-->
				<div class="footerholder">
						<!--Container-->
						<div class="container clearfix">

							<div class="eight columns">

								<p>© 2014 <span class="bLogo">New</span> All Rights Reserved.</p>
							</div>


								<div class="eight columns ">
							<ul class="socialsFooter">
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-vimeo"></i></a></li>
								<li><a href="#"><i class="icon-gplus"></i></a></li>
								<li><a href="#"><i class="icon-pinterest"></i></a></li>

							</ul>

								</div>

				</div>
					<!--End container-->
				</div>
					<!--End bottom footer-->


			</footer>

	<!--End footer-->
</div>
<!--ENd wrapper-->

<!--Javascript-->
<script src="./assets/js/jquery-1.9.1.min.js.download" type="text/javascript"></script>
<script src="./assets/js/jquery-migrate-1.2.1.js.download"></script>
<script src="./assets/js/jquery.easing.1.3.js.download" type="text/javascript"></script>
<script src="./assets/js/jquery.scrollTo-min.js.download" type="text/javascript"></script>
<script src="./assets/js/waypoints.js.download" type="text/javascript"></script>
<script src="./assets/js/jquery.quicksand.js.download" type="text/javascript"></script>
<script src="./assets/js/modernizr.custom.js.download"></script>
<script src="./assets/js/jquery.magnific-popup.js.download" type="text/javascript"></script>
<script src="./assets/js/script.js.download" type="text/javascript"></script>

<!-- Google analytics -->
<!-- End google analytics -->

</body>
</html>
